# Virtual envs
.venv/

# Django app
backend/backend_site/settings_local.py
__pycache__/
.pytest_cache
backend/static/
backend/tsosi/data/to_ingest/
backend/_no_git/
backend/.coverage
backend/coverage.*

# Vue app
frontend/node_modules
frontend/dist
frontend/dist-ssr
coverage
*.log
npm-debug.log*
.env.development

# DevOps
.devcontainer/postgres.env