[Unit]
Description=TSOSI Celery Beat Service
After=tsosi_celery.service
Requires=tsosi_celery.service

[Service]
Type=simple
User=deployer
Group=deployer
# The following 3 lines automatically create a /run/celery/ folder
# owned by the User and Group of the service
PermissionsStartOnly=True
RuntimeDirectory=celery_beat
RuntimeDirectoryMode=0775
WorkingDirectory=/var/www/current/backend
ExecStart=/home/deployer/.local/bin/poetry run celery -A backend_site beat \
    --pidfile=/var/run/celery/beat.pid \
    --logfile=/var/log/tsosi/celery_beat.log \
    --loglevel=INFO
Restart=always

[Install]
WantedBy=multi-user.target