/*
The color palette comes from PrimeVue
https://primevue.org/theming/styled/#colors
*/

@font-face {
  font-family: Mount;
  src: url("/fonts/Mont_Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Mount;
  src: url("/fonts/Mont_Regular_Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Mount;
  src: url("/fonts/Mont_Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Mount;
  src: url("/fonts/Mont_Bold_Italic.woff2");
  font-weight: bold;
  font-style: italic;
}

/* semantic color variables for this project */
:root {
  --color-background: white;

  --color-heading: var(--p-primary-800);
  --color-text: var(--p-neutral-950);
  --color-link: var(--c-indigo);
  --color-background-component: white;
  --color-target: var(--p-yellow-500);

  --container-width: 1280px;
  --small-container-width: 1080px;
  --header-height: 50px;
  --font-size: 14px;
  font-size: var(--font-size);

}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  /* :root {
    --color-background: var(--c-black);
    --color-background-soft: var(--c-black-soft);
    --color-background-mute: var(--c-black-mute);

    --color-border: var(--c-divider-dark-2);
    --color-border-hover: var(--c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  } */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: inherit;
  scroll-margin-top: var(--header-height);
}

body {
  min-height: 100vh - var(--header-height);
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Verdana,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
}
