/*
The color palette comes from PrimeVue
https://primevue.org/theming/styled/#colors
*/

@font-face {
  font-family: Mount;
  src: url("/fonts/Mont_Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Mount;
  src: url("/fonts/Mont_Regular_Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Mount;
  src: url("/fonts/Mont_Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Mount;
  src: url("/fonts/Mont_Bold_Italic.woff2");
  font-weight: bold;
  font-style: italic;
}

/* semantic color variables for this project */
:root {
  scroll-behavior: smooth;

  --color-background: white;

  --color-heading: var(--p-primary-800);
  --color-text: var(--p-neutral-950);
  /* --color-link: var(--p-primary-700); */
  --color-link: var(--color-text);
  --color-background-component: rgb(5, 4, 4);
  --color-target: var(--p-yellow-500);
  --color-success: var(--p-green-500);
  --color-error: var(--p-red-500);

  --container-width: 1280px;
  --small-container-width: 1080px;
  --big-header-height: 150px;
  --regular-header-height: 50px;
  
  --header-height: var(--regular-header-height);

  --font-size: 14px;
  --font-size-small: 13px;
  font-size: var(--font-size-small);

  --page-min-height: calc(100vh - var(--header-height) - 50px);
}

@media (min-width: 1000px) {
  :root {
    font-size: var(--font-size);
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  /* :root {
    --color-background: var(--c-black);
    --color-background-soft: var(--c-black-soft);
    --color-background-mute: var(--c-black-mute);

    --color-border: var(--c-divider-dark-2);
    --color-border-hover: var(--c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  } */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-margin-top: var(--regular-header-height);
}

/*
I have issue with CSS layer precedence.
I'm trying to use what's adviced by primevue, namely to encapsulate
the reset CSS in a layer with lower precedence than primevue's layer but
it's not working.
*/
*:not(div, span) {
  margin: 0;
}


/* Make webkit browsers' scrollbar behave like chrome as an overlay  */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.init-big-header {
  *,
  *::before,
  *::after {
    scroll-margin-top: 0;
  }
}

body {
  min-height: 100vh - var(--header-height);
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Verdana,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
}
