@layer reset, primeui;

@import "./base.css" layer(reset);

#body.drawer-open {
  overflow: hidden;
}

#app {
  font-weight: normal;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;

  &.small {
    max-width: var(--small-container-width);
  }
}

.page-content {
  min-height: var(--page-min-height);
  margin-top: var(--regular-header-height);

  .regular-content {
    width: 100%;
    padding: min(1rem, 3vw);
    /* background-color: var(--color-background-component); */
    border-radius: 10px;
    display: inline-block;
  }

}

.init-big-header {
  &.header-hidden .page-content {
    margin-top: 0;
  }
  & .page-content {
    margin-top: var(--big-header-height);
  }
}

.top-drawer {
  position: fixed !important;
  top: 0;
  width: 100vw !important;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  padding: 1rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}

@media screen and (min-width: 1280px) {
  /* CSS property not allowed in media queries */
  .page-content {
    .regular-content {
      margin: 1rem 0;
    }
  }
}

.d-flex {
  --gap: 0.2em;
  --row-gap: var(--gap);
  --column-gap: var(--gap);
  display: flex;
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
  flex-wrap: wrap;
}
.d-none {
  display: none !important;
}

.d-grid-two-col {
  --grid-template: 1fr 1fr;
  display: grid;
  grid-template-columns: var(--grid-template);
  gap: 0.2em;
  place-items: center;
  place-content: center;
}

a {
  word-break: break-word;
  overflow-wrap: break-word;
}

a,
.chip-link-label {
  color: var(--color-link);
  text-decoration: underline;
}

a.p-menu-item-link {
  text-decoration: unset;
}

.chip-link:hover {
  background-color: var(--p-surface-200);
}

h1,
.as-h1 {
  text-transform: uppercase;
  color: var(--color-heading);
  font-weight: 900;
  font-size: 28px;
  text-wrap: balance;
}

h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  font-weight: 700;
  border-radius: 4px;

  & a {
    color: var(--color-heading);
  }
}

h1, h2, h3, h4, h5, h6, .as-heading {
  font-family: 
    Mount,
    Verdana,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

p {
  margin: 5px 0;
}

.color-success {
  color: var(--color-success);
}

.color-error {
  color: var(--color-error);
}

a.wikidata-inline-link {
  --icon-ratio: 1.78;
  --icon-height: 1.3em;
  --icon-width: calc(var(--icon-ratio) * var(--icon-height));
  position: relative;
  margin-left: calc(var(--icon-width) + 5px);
}

a.wikidata-inline-link::before {
  background: url("/img/wikidata_icon.svg");
  content: '';
  position: absolute;
  left: calc(-1 * (var(--icon-width) + 3px));
  top: 0;
  height: var(--icon-height);
  width: var(--icon-width);
  display: inline-block;
  background-size: var(--icon-width) var(--icon-height);
  background-repeat: no-repeat;
}


.p-popover.p-component.popover-no-arrow::before,
.p-popover.p-component.popover-no-arrow::after {
  display: none;
}

.loader-icon-animate {
  animation: uniform-spinning 1s linear infinite;
}


@keyframes uniform-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
 Component specific CSS
 TODO: move it to primevue styling framework.
 More generally, all styling should be reviewed and reworked to use
 primevue styling system.
*/
.info-box {
  font-size: 1rem;
  --info-box-color: var(--p-primary-color);
  padding: min(1em, 3vw) min(1rem, 1vw);
  border: 3px solid;
  border-color: var(--p-surface-200);
  border-radius: 5px;
  color: inherit;
  height: fit-content;
}

.info-box .info-item {
  margin-bottom: 0.5em;
}

.info-box .info-item:last-child {
  margin-bottom: unset;
}

.info-item h3 {
  color: var(--info-box-color);
  font-size: 1.05rem;
}

h2.info-box-header {
  font-size: 1.15em;
  color: var(--color-heading);
}

/*
  Utility classes
*/

.data-label {
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 0.9em;

  &.hidden-amount {
    background: var(--p-neutral-200);
  }
}